crypto_terminal.py
__pycache__
crypto.db
my_hooks.py
test.py
my_mock.py
mydata/
dist/
cfg copy.py
lib/
build/
api_master.egg-info/
bot/cogs/
discord_config.py
get.py
dataAnalyzer.py
ai.py
func_call
polygonIO
.coverage
did.bin
new_views
cfg.py
app
fudstop.py
strat.py
data_class_creator.py
did.bin
attributeMaster.py

datamaster.py
myconfig.py
oldapp.py
bot.log

did.bin

polygon_enhanced/
api_master.egg_info/
test.py
func_call_test.py
testy.py
testityo.py
testy.py
utilities/
get_tickers.py
getit.py

dump.txt
.env
trial.py
testing.py
iv_monitor_calls.csv
iv_monitor_puts.csv
trial2.py
did.bin
runtime.txt
.coveratge
newcogs/
skew_data.csv
testfuncs.py