crypto_terminal.py
__pycache__
crypto.db
my_hooks.py
test.py
my_mock.py
mydata/
dist/
lib/
build/
api_master.egg-info/
discord_config.py
fudstop.py
strat.py
myconfig.py
oldapp.py
api_master.egg_info/
test.py
.env
trial.py