<div class="terminal">
    <div class="snippet-dropdown">
        <select id="snippet-select" onchange="displayCodeSnippet()">
            <option value="">Select a snippet...</option>
            <option value="Get All Stock Snapshots">Get All Stock Snapshots</option>
            <option value="Get All Crypto Snapshots">Get All Crypto Snapshots</option>
            <option value="Get All Options Snapshots">Get All Options Snapshots</option>
            <option value="Get All Indices Snapshots">Get All Indices Snapshots</option>
            <option value="Get All Forex Snapshots">Get All Forex Snapshots</option>
            <option value="Get All Webull Data">Get All Webull Data</option>
            <option value="Run All Webull Functions">Run All Webull Functions</option>
            <option value="Real Time Discord Integration">Real Time Discord Integration</option>
            <option value="Latest Ticker News">Latest Ticker News</option>
        </select>
    </div>
</div>