<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Command Stream</title>
    <link rel="stylesheet" href="static/css/command_styles.css">
</head>
<body>
    <h1>Stream Commands</h1>
    <div id="app"></div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="modal-text"></p>
        </div>
    </div>

    <!-- JavaScript File Linked Here -->
    <script src="static/js/scripts.js"></script>
</body>
</html>